
body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #231f20;
}

h1 {
  font-size: 88px;
}

h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.header-title {
  padding : 15px;
  background-color: #fcce00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}

.header-subtitle {
  padding : 15px;
  font-size: 38px;
  background-color: #ff6b00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}

.header-stripe {
 margin: 8px 0;
}

.header-stripe--red {
  height: 32px;
  background-color: #e02020bd;
 }

 .header-stripe--purple {
  height: 16px;
  background-color: #b620e0bd;
 }

 .header-stripe--blue {
  height: 8px;
  background-color: #6236ffbd;
 }

 .section-title {
  width: 993px;
  height: 56px;
  font-size: 40px;
  font-weight: 900;
 }

 .titre-paragraphe1 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 64px 31px 34px 40px;
}

 .colone {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.bloc2  {
  background-image: url(../img/bg-yellow.svg);
  flex-basis: 1px;
  flex-grow: 1;
  width: 720px;
  height: 512px;
  margin: 64px 0px 0px 0px;
  }

  .titre-paragraphe2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

.bloc1 {
  flex-basis: 320px;
  flex-grow: 1;
  text-align: justify;
}

.text1 {
padding-left: 48px;
padding-right: 32px;
}

.text2 {
  margin: 32px 14px 32px 32px;
  }


.bloc4 {
  flex-basis: 320px;
  flex-grow: 1;
  text-align: justify;
}

.bloc3  {
  background-image: url(../img/bg-orange.svg);
  flex-basis: 320px;
  flex-grow: 1;
  width: 720px;
  height: 512px;
  }


.button {
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px #fcce00;
  font-family: Poppins;
  font-weight: bold;
  font-size: 20px;
  color: #fcce00;
  text-decoration: none;
  width: 185px;
  height: 48px;
}

.image_1 {
  width: 487px;
  height: 471px;
  margin left: auto;
  margin: 40px 10px 1px 223px;
  object-fit: contain;
  display: block;
  mix-blend-mode: darken;
  
}


.button-2 {
  width: 113px;
  height: 28px;
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px #ff6b00;
  font-family: Poppins;
  font-weight: bold;
  font-size: 20px;
  color:#ff6b00;
  text-decoration: none;
}

.image_2 {
  width: 378px;
  height: 486px;
  object-fit: contain;
  margin right: auto;
  display: block;
  mix-blend-mode: darken;
  margin: 26px 171px 0px 171px;
}
